.optionStyle {
    display: none;
}

.divStyle {
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
}

.tableStyle {
    display: flex;
    justify-content: center;
}