.navBar {
  height: 5rem;
  background-color: #044599;

}

.navBar nav {
  height: 100%;
}

.navBar ul {
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}

.navBar li {
  margin: 0 1rem;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.navBar a:hover
{
  color: #95bcf0;
}